body{


  font-family: 'Open Sans', sans-serif;
}

.fondoNav,  footer{
  background-color: #000000;
}

#logo {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
}

header{
  background-image: url('../img/DestacadaColor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  background-position: center;


}



.SoyYo{
  padding-top: 320px;
  font-family: 'Oswald', sans-serif;

}


.SoyYo p {
  font-size: 72px;
  font-weight: 200;
}
.SoyYo h1{
  font-size: 72px;
  color: #FC011F;

}

.SoyYo hr{
  height: 0px;
  border: none;
  border-top: 2px solid white;
}



.fontABoutMe p{
  font-weight: 600;
}



.interline{
  line-height:35px;
}

.MiExperiencia h2{
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
  font-weight: bold;
}

#ExperienciaRodrigo{
  padding-top: 70px;

}


.colorIcons i{
  /* color: #660066; */
  color: #FC011F;
}
.colorIcons h3{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 600;
  ;
}

.colorIcons p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.colorCards{
  /* background-color: #660066; */
  background-color: #FC011F;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.colorCards h2{
  font-size: 52px;
}


.colorCards hr{
  height: 0px;
  border: none;
  border-top: 2px solid white;
}

.card-title{
  font-weight: 400;
}

.card-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.MiExperiencia hr {
  height: 0px;
  border: none;
  border-top: 2px solid black;
}

.formularioLetra h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
  font-weight: bold;
}

.formularioLetra hr {
  height: 0px;
  border: none;
  border-top: 2px solid black;
}

footer{
  height: 180px;


}

footer h2 {

  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;

  display: inline-block;
  vertical-align: baseline;

}

footer a {
  color:#ffffff;
}

footer a:hover{
  color: #fff;
}

footer i {
  padding-right: 8px;
  padding-left: 8px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .MiExperiencia h2{
    font-size: 35px;}

    .colorCards h2 {
      font-size: 35px;}

      .formularioLetra h2{
        font-size:35px;}

        footer h2{
          font-size: 30px;
        }
        .SoyYo p{
          font-size: 40px;
        }
        .SoyYo h1{
          font-size: 40px;
        }

        .SoyYo hr{
          width: 50%;
        }

      }
