body{


font-family: 'Open Sans', sans-serif;
}

.fondoNav,  footer{
  background-color: #343a40;
}

header{
  background-image: url('../img/DestacadaColor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  background-position: center;

}
.SoyYo{
  padding-top: 300px;
  font-family: 'Oswald', sans-serif;

}

.SoyYo h1{
  font-size: 72px;
}

}
.SoyYo span{
  font-size: 72px

}

.interline{
  line-height:35px;
}

.MiExperiencia h2{
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
}

#ExperienciaRodrigo{
padding-top: 70px;

}
.colorIcons i{
  color: #660066;
}
.colorIcons h3{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  ;
}

.colorIcons p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.colorCards{
  background-color: #660066;
}

.colorCards h2{
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
}

.colorCards hr{
  height: 0px;
    border: none;
    border-top: 2px solid white;
}

.MiExperiencia hr {
  height: 0px;
    border: none;
    border-top: 2px solid black;
}

.formularioLetra h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
}

.formularioLetra hr {
  height: 0px;
    border: none;
    border-top: 2px solid black;
}

footer{
  height: 120px


}

footer h2 {

  font-family: 'Oswald', sans-serif;
  font-size: 40px;

  display: inline-block;
  vertical-align: baseline;

}

footer a {
  color:#ffffff;
}

footer a:hover{
  color: #fff;
}

footer i {
  padding-right: 8px;
  padding-left: 8px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
.MiExperiencia h2{
  font-size: 35px;}

.colorCards h2 {
  font-size: 35px;}

.formularioLetra h2{
  font-size:35px;}
}
