body{


font-family: 'Open Sans', sans-serif;
}

.fondoNav{
  background-color: #660066;
}

header{
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;

}
.SoyYo{
  padding-top: 400px;
  font-family: 'Oswald', sans-serif;

}

.SoyYo h1{
  font-size: 72px;
}

}
.SoyYo span{
  font-size: 72px

}

.interline{
  line-height:35px;
}
